<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
        <!-- Log4net Config -->
        <add key="log4net.Config.Watch" value="True"/>
        <add key="log4net.Config" value="Log4Net.Config"/>
    </appSettings>
</configuration>
