<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <Connections>
        <Connection Name="Modbus.DIO" Type="SERIAL/TCP/UDP" Parameters="COM12,9600" AutoReconnect="True"/>
    </Connections>

    <Modbus Name="Modbus.Master.DIO" ConnectionParams="SERIAL,COM3,9600">
        
        <Devices>
            <Device Address="1" CoilsStatusCount="2" DiscreteInputCount="2" InputRegisterCount="2">
                <!--
                <Register Address="0x0001" Type="1"/>
                <Register Address="0x0002" Type="CoilsStatus" />
                <Register Address="0x0003" Type="DiscreteInput"  />
                <Register Address="0x0004" Type="HoldingRegister" />
                <Register Address="0x0005" Type="InputRegister" Count="2" IsLittleEndian="True"/>
                -->
            </Device>
        </Devices>
        
        <Events>
            <Event Name="InputChange" DeivceAddress="1" RegisterAddress="5" Value="10" MinValue="10" MaxValue="20" >
                <Action TargetKey="Modbus.Master.DIO" Method="WriteSingleCoil" Params="1,1,false"/>
                <Action TargetName="Modbus.Master.DIO" Method="WriteSingleCoil" Params="1,1,false"/>
            </Event>
        
            <Event Name="InputChange" DeviceAddress="io" Value="1">
                
            </Event>
        
        
        </Events>
        
    </Modbus>
    
</configuration>