<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <Connections>
        <Connection Name="Modbus.DIO" Type="SERIAL/TCP/UDP" Parameters="COM12,9600" AutoReconnect="True"/>
    </Connections>

    <Modbus Name="Modbus.Master.DIO" ConnectionParams="SERIAL,COM12,9600" ReadTimeout="200" WriteTimeout="200">
        
        <Devices>
            <Device Name="" Address="1" CoilsStatusCount="4" DiscreteInputCount="2" />
            <Device Name="" Address="1" HoldingRegisterCount="4" InputRegisterCount="2" />
            <Device Address="2">
                <RegisterDes Address="0x0001" Count="2" Type="1" />
                <Register Address="0x0002" Type="CoilStatus" />
                <Register Address="0x0003" Type="DiscreteInput"  />
                <Register Address="0x0004" Type="HoldingRegister" />
                <RegisterDescription Address="0x0005" Count="2" Type="InputRegister" IsLittleEndian="True"/>
            </Device>
        </Devices>
        
        <Events>
            <Event Name="InputChange" DeivceAddress="1" RegisterAddress="5" Value="10" MinValue="10" MaxValue="20" >
                <Action TargetKey="Modbus.Master.DIO" Method="WriteSingleCoil" Params="1,1,false"/>
                <Action TargetName="Modbus.Master.DIO" Method="WriteSingleCoil" Params="1,1,false"/>
            </Event>
        
            <Event Name="InputChange" DeivceAddress="io" Value="1">
                
            </Event>
        
        
        </Events>
        
    </Modbus>
    
</configuration>