<?xml version="1.0" encoding="utf-8" ?>

<!-- RPCClient/RPCServer -->
<!-- XElementExtensions.ReplaceTemplateElements() -->

<Configuration DefaultID="0" AutoLoop="False" TemplateXName="Template" RefTemplateXName="RefTemplate" RemoveRefTemplates="True">

	<Template Name="Button_Close_Template">
		<Button Name="Btn_Close" Width="100" Height="100" Margin="0,960" Opacity="0.01"/>
		<Events Name="Click" Button="Btn_Close">
            <InvokeMessage ObjectName="Window" MethodName="Close" />
		</Events>		
	</Template>
	
	<Template Name="Button_Play_Template">
		<Button Name="{ButtonName}" Width="100" Height="100" Margin="{Left},840">
			<Button.Background>
				<ImageBrush ImageSource="ICONS/播放.png"/>
			</Button.Background>
			<Button.Foreground>
				<ImageBrush ImageSource="ICONS/播放.png"/>
			</Button.Foreground>
		</Button>	
		<Events Name="Click" Button="{ButtonName}">
            <InvokeMessage ObjectName="Window" MethodName="LoadItem" Parameters="{ItemID}"/>
        </Events>
	</Template>
	
	<Template Name="Item_Template">
		<Item ID="{ID}">
			<!-- Middle 背景图 -->
			<MiddlePlayer Url="{URL}" Stretch="Fill" Loop="False">
				<Events Name="OnLastFrame">
                    <InvokeMessage ObjectName="Window" MethodName="LoadItem" Parameters="0"/>
				</Events>
			</MiddlePlayer>
			
			<!-- Play Button -->
			<MiddleButtons>
				<Button Name="Btn_LoadItem" Width="100" Height="100" Margin="1770,930">
					<Button.Background>
						<ImageBrush ImageSource="ICONS/返回.png"/>
					</Button.Background>
					<Button.Foreground>
						<ImageBrush ImageSource="ICONS/返回.png"/>
					</Button.Foreground>
				</Button>			
				<Events Name="Click" Button="Btn_LoadItem">
                    <InvokeMessage ObjectName="Window" MethodName="LoadItem" Parameters="0"/>
				</Events>
			</MiddleButtons>
		
			<MiddleGroup Visibility="Visible"/>
			<ForegroundGroup Visibility="Hidden"/>
		</Item>
	</Template>
	
    <Item ID="0" Comment="待机页面">   
		<MiddleGroup Visibility="Hidden"/>
	
        <!-- Background 播放内容 -->
        <BackgroundPlayer Url="Contents/Video_01.mp4" Stretch="Fill"/>
		
        <!-- Background Buttons -->        
		<BackgroundButtons>	
			<RefTemplate Name="Button_Close_Template" />	
			<!--
			<RefTemplate Name="Button_Play_Template" ButtonName="Btn_Item_1" ItemID="1" Left="220" />
			<RefTemplate Name="Button_Play_Template" ButtonName="Btn_Item_2" ItemID="2" Left="570" />
			<RefTemplate Name="Button_Play_Template" ButtonName="Btn_Item_3" ItemID="3" Left="920" />
			<RefTemplate Name="Button_Play_Template" ButtonName="Btn_Item_4" ItemID="4" Left="1270" />
			<RefTemplate Name="Button_Play_Template" ButtonName="Btn_Item_5" ItemID="5" Left="1600" />
			-->
        </BackgroundButtons>
		
        <ForegroundGroup Visibility="Hidden"/>
        <BackgroundGroup Visibility="Visible"/>
    </Item>
    
	
    <RefTemplate Name="Item_Template" ID="1" URL="Contents/Video_01.mp4" />
	
	<RefTemplate Name="Item_Template" ID="2" URL="Contents/Video_02.mp4" />
	
	<RefTemplate Name="Item_Template" ID="3" URL="Contents/Video_03.mp4" />
	
	<RefTemplate Name="Item_Template" ID="4" URL="Contents/Video_04.mp4" />
	
	<RefTemplate Name="Item_Template" ID="5" URL="Contents/Video_05.mp4" />

    <RefTemplate Name="Item_Template" ID="6" URL="Contents/Video_06.mp4">
        <Other Name="test" Param="12"/>
    </RefTemplate>
	
</Configuration>