<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HPSocket.Net" version="5.8.8.3" targetFramework="net472" />
  <package id="NModbus" version="3.0.78" targetFramework="net472" />
  <package id="NModbus.Serial" version="3.0.78" targetFramework="net472" />
  <package id="NModbus4" version="2.1.0" targetFramework="net472" />
</packages>